---
import NavJump from "./navJump.astro"
import NavJumpBordered from "./navJumpBordered.astro"
---


<div class="sticky t-0 w-full"> <!-- bg-white -->
    <!--  Main navigation container -->
    <div class="relative h-20"> <!-- border-b  -->
        <div class="flex flex-row space-x-6 h-20 justify-center"> 
            <div class="absolute flex flex-row space-x-6 h-20 left-0 items-center pl-14" >
                <img src="img/DVD_Logo_2560x1440.png" alt="Logo" width="250" height="150">
            </div>
            <div class="flex flex-row space-x-6 h-20">
                <NavJump link="about" label="O nás" selected={false} />
                <NavJump link="crew" label="Členové" selected={false} />
                <NavJump link="showcase" label="Ukázka prací" selected={false} />
                <NavJump link="galery" label="Galerie" selected={false} />
                <NavJump link="patreon" label="Patreon" selected={false} />
            </div>
            <div class="absolute flex flex-row space-x-6 h-20 right-0 pr-14"> 
                <NavJumpBordered link="contact" label="Kontakt" selected={false} />
            </div>
        </div>
    </div>
</div>


